@font-face {
  font-family: "FlightSans";
  src: url(fonts/TTF/FlightSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FlightSans";
  src: url(fonts/TTF/FlightSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FlightSans";
  src: url(fonts/TTF/FlightSans-Title.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  font-family: "FlightSans", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.5;
  letter-spacing: -0.2px;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333333;
}

header {
  width: 100%;
  height: 170px;
}
header .topbanner {
  width: 100%;
  height: 60px;
  background-color: #fff7e2;
  position: relative;
}

.topbanner .topbanner_inner {
  height: 60px;
  margin: auto;
  max-width: 1004px;
  display: flex;
  align-items: center;
  position: relative;
}
.topbanner p {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 700;
}
.topbanner span {
  letter-spacing: -2px;
}
.topbanner .close {
  position: absolute;
  right: 2px;
  width: 20px;
  height: 20px;
  background: url(images/img2.svg);
  cursor: pointer;
}
header .topmenu {
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #f2f2f2;
}
.topmenu .topmenu_inner {
  height: 34px;
  margin: auto;
  max-width: 1004px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.topmenu_inner ul {
  width: 450px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 11px;
}
.topmenu_inner li a {
  color: #666 !important;
}
.topmenu_inner li {
  display: flex;
  align-items: center;
}
.topmenu_inner li:last-child {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topmenu_inner li:last-child::before {
  content: "";
  width: 1px;
  height: 14px;
  background-color: rgb(218, 218, 218);
  transform: translate(-12px);
}

.topmenu_inner select {
  width: 80px;
  border: 0;
  padding-bottom: 4px;
  text-align: left;
  font-family: "FlightSans";
  font-size: 11px;
  color: #666;
}
header nav {
  width: 100%;
  height: 76px;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}
nav .nav_inner {
  height: 76px;
  margin: auto;
  width: 1004px;
  min-width: 1080px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav_inner .logo {
  width: 102px;
  height: 24px;
  background: url(images/img3.png) center/contain no-repeat;
  position: relative;
  top: 0;
  left: 0;
}
.nav_inner .menu {
  margin-left: 110px;
  display: flex;
}
.menu .mega_menu {
  display: flex;
  align-items: center;
  gap: 66px;
}
.mega_menu li {
  text-align: center;
}
.mega_menu li a {
  color: #000 !important;
  font-weight: 700;
}
.nav_inner .my {
  display: flex;
  align-items: center;
  height: 100%;
  place-self: end;
  margin-left: 116px;
}
.nav_inner .my img {
  display: inline-block;
  width: 31px;
  height: 30px;
  cursor: pointer;
}
.nav_inner .drop {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  z-index: 100;
  /* border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; */
  font-size: 14px;
  background-color: #fff;
}
.drop ul {
  width: 1004px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.drop > ul > li > a {
  display: inline-block;
  margin: 50px 0 0;
}
.drop > ul > li {
  flex: 1;
  text-align: center;
  padding-bottom: 60px;
  line-height: 1.5;
}
.drop > ul > li + li {
  border-left: 1px solid #e1e1e1;
}
.drop .first {
  width: 25%;
}

.drop .second {
  width: 20%;
}
.drop .third {
  width: 20%;
}
.drop .fourth {
  width: 50%;
}
.drop .fifth {
  width: 50%;
}
.drop_sub {
  margin-top: 15px;
}
.drop_sub ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 0;
  border-right: 0;
}
.drop_sub li {
  line-height: 2;
  text-align: center;
  vertical-align: baseline;
}
.drop_sub li a {
  font-weight: 400 !important;
  color: #333;
}
main {
  width: 100%;
  height: 890px;
}
main .slide {
  width: 100%;
  height: 690px;
}
main section {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
}
